# Exploring jupyter lab, dtale and cheat sheet for pandas

This document is a guide to the basics of using functions in pandas
Tom Wilson 28 Nov 2020

Things to add:

- Merging dataframes
- Getting nearest neighbour values
- Interpolation

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
from matplotlib.dates import DateFormatter
from datetime import date, timedelta
import datetime 
import numpy as np
import os
import calendar
import dtale

In [ ]:
# functions to call
def getLabels(dtcol):
    labs = []
    for i in dtcol:
        m = calendar.month_name[i.month][:3]   
        my = '%s %s' % (m, i.year)
        if my not in labs:
            labs.append(my)
    return(labs)

def getyears(dtcol):
    yrs = []
    for d in dtcol:
        yrs.append(d.year)
    return(yrs)

def strdt2Date(dtcol): # dtstr
    Date = []
    for i in dtcol:
        D = str(i).split(' ')[0].split('-')
        y = int(D[0])
        m = int(D[1])
        d = int(D[2])
        Date.append(date(y, m, d))
    return(Date)

# Read in some data to work with

In [2]:
start_date = '2017-01-05' # must be a date in the dataframe
end_date = '2020-12-31'

mdata = 'C:\\Users\\tdwil\\Dropbox\\PhD_project\\Geochemistry\\BanffData_2020-09-07\\Allsprings_COMBINED.xlsx'
df1 = pd.read_excel(mdata, usecols = "A:D")
df1['datetime'] = pd.to_datetime(df1['Date'])

          Date  UH Flow (L/s)  UH Temp (C)  UH EC (mS/cm)   datetime
347 2017-01-17            NaN         27.1       1.420228 2017-01-17
348 2017-02-01            NaN          NaN            NaN 2017-02-01
349 2017-02-15            NaN          NaN            NaN 2017-02-15
350 2017-03-20            NaN          NaN            NaN 2017-03-20
351 2017-03-29            NaN          NaN            NaN 2017-03-29
..         ...            ...          ...            ...        ...
422 2020-01-21       1.972457         41.2       1.375351 2020-01-21
423 2020-02-06       1.229616         39.6       1.295345 2020-02-06
424 2020-02-21       0.632791         36.4       1.352643 2020-02-21
425 2020-03-19            NaN          NaN            NaN 2020-03-19
426 2020-06-26      15.861667         41.4       1.206110 2020-06-26

[80 rows x 5 columns]

# Getting information about the dataframe

https://pythoninoffice.com/get-values-rows-and-columns-in-pandas-dataframe/

In [ ]:
# list of row indices
row_inds = df1.index

# list of column (header) names
col_inds = df1.columns 

# get dataframe shape
df1_shape = df1.shape

# Getting data from the dataframe

In [24]:
# get df column by name
col_data = df1['Date']

# get df column by column index
col_data = df1['Date']

# get row by df index 
ind = 400
row_data = df1.loc[ind]

# get row by df row number 
rownum = 1
row_data = df1.iloc[rownum]

# get a specific object in a dataframe
col = 'Date'
x = df1.loc[ind,col]

# slicing the dataframe
df = df1.loc[ind:ind+20]

# Cleaning the data

In [ ]:
# drop rows that have any nan data points
df = df1.dropna()

# drop rows that have nan data points in a particular column
df = df1.dropna(subset=['Date'])

# dropping columns
df = df1.drop(['UH EC (mS/cm)' , 'datetime'] , axis='columns')

# dropping rows with blanks ???

# removing white space from strings in column (needs work)
# https://stackoverflow.com/questions/29314033/drop-rows-containing-empty-cells-from-a-pandas-dataframe
# df = df1[df1['B'].str.strip().astype(bool)]

# selecting only a subsut of columns 
df = df1[['Date','UH Flow (L/s)']]

# renaming columns
df = df1.rename(columns = {'datetime':'DateTime'}, inplace = False)

# reduce dataframe to data between start_date and end_date
temp_mask = (df1['datetime'] > start_date) & (df1['datetime'] <= end_date)
df1 = df1.loc[temp_mask]

# replace blanks with nan
df1['UH Temp (C)'] = df1['UH Temp (C)'].replace(r'^\s+$', np.nan, regex=True)

# Grouping data

In [ ]:
# grouping dates by year (adds a year column to dataframe) 
df1['Year'] = getyears(df1['Date'])

# Testing a condition on a column (and extracting data if condition is meet)

          Date  UH Flow (L/s)
347 2017-01-17            NaN
348 2017-02-01            NaN
349 2017-02-15            NaN
350 2017-03-20            NaN
351 2017-03-29            NaN
..         ...            ...
422 2020-01-21       1.972457
423 2020-02-06       1.229616
424 2020-02-21       0.632791
425 2020-03-19            NaN
426 2020-06-26      15.861667

[80 rows x 2 columns]

In [ ]:
# Merging dataframes

In [ ]:
# https://www.geeksforgeeks.org/iterating-over-rows-and-columns-in-pandas-dataframe/

# iterating over rows using iterrows() function  
for irow, jcol in df.iterrows(): 
    print(irow, jcol) # (row index, column index)

In [28]:
# using dtale

import dtale
dtale.show(df1, ignore_duplicate=True)